body{
    background-color: coral;
}
div
{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px
}
#imgcon{
    position: relative;
    top: 30px;

}
#imgcon #img{
    height: 250px;
    width: auto;
}
